html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  background-color: rgb(248, 246, 245);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

.first-containers {
  display: flex;
  gap: 20px;
}

.budget-total,
.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
  width: 260px;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.171);
}

.expense-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 540px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.171);
}

.expense-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper button {
  border: 1px solid rgba(0, 0, 0, 0.295);
  padding: 5px;
  color: white;
  background-color: rgba(51, 51, 231, 0.904);
  cursor: pointer;
  width: 100%;
}

.check-amount:hover {
  background-color: rgba(75, 75, 224, 0.863);
}

.set-budget:hover {
  background-color: rgba(75, 75, 224, 0.863);
}

.text-input:focus {
  border: 1px solid rgb(16, 16, 207);
  outline: none;
}

.text-input {
  padding: 3px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(37, 37, 39, 0.24);
}

.error-text {
  color: #ff3333;
  font-size: 0.85rem;
  margin-top: 5px;
  display: block;
  font-weight: 500;
}
